body {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
}

h1 {
    font-size: 60px;
    font-weight: 700;
}

.Banner {
    text-align: center;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(images/rawImage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 90%;
    height: 450px;
    padding: 5%;
    margin-bottom: 100px;
}

.donate-button {
    text-decoration: none;
    color: white;
    font-weight: 700;
    padding: 10px 15px;
    background-color: #FF5959;
    border-radius: 5px;
}

h2 {
    font-weight: 700;
    font-size: 40px;
}

.gray-col {
    color: #707070;
}

.donate-today-part {
    text-align: center;
    margin-bottom: 100px;
}

.flex-donate-today {
    display: flex;
    margin-top: 50px;
    margin-left: 21%;
    margin-bottom: 60px;
}

.amount {
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    color: #707070;
    margin: 10px;
    padding: 30px 15px;
    background-color: #7070701c;
}

.space {
    margin-top: 30px;
}

#selected-amount {
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    color: #FF5959;
    margin: 10px;
    padding: 30px 15px;
    background-color: #ff595928;
    border: 2px solid #FF5959;
    border-radius: 5px;
}

.donation-plan-part {
    text-align: center;
}

.flex-donation-plan {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
}

h3 {
    font-weight: 700;
    font-size: 25px;
}

.plan {
    margin: 50px 1%;
    padding: 40px 20px;
    text-align: left;
    width: 30%;
}

.bg-col-food {
    background-color: #4f9da629;
}

.bg-col-shelter {
    background-color: #ff59592b;
}

.bg-col-edu {
    background-color: #fff4d6cf;
}